<div class="left-rail">
    <div class="sidenav custom-scrollbar">
        <a href="/" class="sidetitle">CKURY GITHUB</a>

        <a href="/pages/about.html">About</a>

        <button class="dropdown-btn" onclick="toggleDropdown(this)">ckury.github.io</button>
        <div class="dropdown-container">
            <a href="/pages/ckury.github.io/framework-version-1.0.html">Framework Version 1.0</a>
        </div>

        <a href="/pages/hello_world.html">Hello World</a>

        <button class="dropdown-btn" onclick="toggleDropdown(this)">STM32</button>
        <div class="dropdown-container">
            <a href="/pages/stm32/stm32-directory-structure.html">STM32 Project Directory Structure</a>
            <a href="/pages/stm32/stm32-lib-ssd1331.html">STM32 SSD1331 Display Library</a>
        </div>
    </div>
    <div class="pagenav custom-scrollbar"></div>
</div>
