<div class="left-rail">
    <div class="sidenav custom-scrollbar">
        <a href="/" class="sidetitle">CKURY GITHUB</a>
        <a href="/pages/hello_world.html">Hello World</a>
        <a href="/pages/about.html">About</a>
        <button class="dropdown-btn" onclick="toggleDropdown(this)">STM32</button>
        <div class="dropdown-container">
            <a href="/pages/stm32/stm32-directory-structure.html">STM32 Project Directory Structure</a>
            <a href="#">Product 2</a>
            <a href="#">Product 3</a>
        </div>
    </div>
    <div class="pagenav custom-scrollbar"></div>
</div>
